List_remove_append
Description: Remove SPSS from input_list=['SAS', 'R', 'PYTHON', 'SPSS'] and add 'SPARK'
in its place.

In [3]:
list = ['SAS', 'R', 'PYTHON', 'SPSS']
print(list)
list.remove('SPSS')
list.append('SPARK')
print(list)

['SAS', 'R', 'PYTHON', 'SPSS']
['SAS', 'R', 'PYTHON', 'SPARK']

String to List Conversion
Description: Convert a string input_str = 'I love Data Science & Python' to a list by
splitting it on ‘&’. The sample output for this string will be:

In [4]:
input_str='I love Data Science & Python'
split_arr=input_str.split('&')
print(split_arr)

['I love Data Science ', ' Python']

List to String Conversion
Description: Convert a list ['Pythons syntax is easy to learn', 'Pythons syntax is very
clear'] to a string using ‘&’. The sample output of this string will be:

In [18]:
input_list= ['Pythons syntax is easy to learn', 'Pythons syntax is very clear']
output=''
for st in input_list:
    output+=st + ' ' + '& '

#to remove & at the end
output = output[0:len(output)-3]
print(output)

Pythons syntax is easy to learn & Pythons syntax is very clear

Description: Extract Python from a nested list
input_list = [['SAS','R'],['Tableau','SQL'],['Python','Java']]

In [23]:
input_list = [['SAS','R'],['Tableau','SQL'],['Python','Java']]
input_list[2][0]

'Python'

Description: t = ("disco", 12, 4.5)
What is the output of: t[0][2]

In [26]:
t = ("disco", 12, 4.5)
t[0][2]

's'

String Palindrome
Description: Write a program to check whether a string is a palindrome or not. Print 1 if
the string is a palindrome and 0 otherwise.

In [30]:
def isPalindrome(input):
    input = input.lower()
    rev_input = input[::-1]
    if input == rev_input:
        return 1
    else:
        return 0


print('dad is palindrome > ', isPalindrome('Dad'))
print('Gopal is not palindrome > ', isPalindrome('Gopal'))

dad is palindrome >  1
Gopal is not palindrome >  0

Description: You will be given a sentence in the form of a string. You have to reverse the
order of the words in the sentence. Remember not to reverse the individual words, but
the order of words. Check the sample input-output for further clarification.

In [31]:
input_str = 'This is Python assignment'

arr = input_str.split(' ')
reversed_str = '';
for st in reversed(arr):
    reversed_str += st +' '

print(reversed_str.rstrip())

assignment Python is This

In [32]:
def format_str(inp):
    arr = inp.split(' ')
    output = ''
    for data in arr:
        output += data.lower()+'_'

    return output[0:len(output)-1]

print(format_str('caloRie ConsuMed'))
print(format_str('data science'))
print(format_str('datascience'))

calorie_consumed
data_science
datascience

How will you extract ‘love’ from the string S = “I love Python”? (More than one
option may be correct.).

In [38]:
S = 'I love Python'
print(S[2:6])
print(S[-11:-7])

love
love

What will the output of 3 * 3 ** 3 be?

In [39]:
print(3*3**3)

81

What will the output be of ((500//7) % 5) ** 3?

In [40]:
((500//7) % 5) ** 3

1

If you have a tuple T = (3, 5, 7, 11), what will the output of T.append(9) be?

In [41]:
T = (3, 5, 7, 11)
T.append(9)

AttributeError: 'tuple' object has no attribute 'append'

In [45]:
l = [32, 34, 12, 27, 33]
l.append((14, 19))
print(len(l))
print(l)

6
[32, 34, 12, 27, 33, (14, 19)]

In [55]:
D = {1:['Raj', 22], 2:['Simran', 21], 3:['Rahul', 40]}
for val in D:
    print(val)

1
2
3

In [60]:
paragraph = 'This is a test. We are learning Python.'
single_word_list = []
for sentence in paragraph:
    for word in sentence.split():
        single_word_list.append(word)
        
print(single_word_list)

['T', 'h', 'i', 's', 'i', 's', 'a', 't', 'e', 's', 't', '.', 'W', 'e', 'a', 'r', 'e', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g', 'P', 'y', 't', 'h', 'o', 'n', '.']

In [68]:
[word for sentence in paragraph for word in sentence.split()]

['T',
 'h',
 'i',
 's',
 'i',
 's',
 'a',
 't',
 'e',
 's',
 't',
 '.',
 'W',
 'e',
 'a',
 'r',
 'e',
 'l',
 'e',
 'a',
 'r',
 'n',
 'i',
 'n',
 'g',
 'P',
 'y',
 't',
 'h',
 'o',
 'n',
 '.']

In [1]:
print(list(range(10, 1, -1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2]